/* initialize */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ol,
ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: sans-serif;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  line-height: 1.6;
}

/* header */
header {
  text-align: center;
  border-bottom: 2px solid #333;
  margin-bottom: 40px;
}

header nav {
  text-align: left;
}

.post-card {
  padding: 20px;
  border: 1px solid #ddd;
  margin-bottom: 20px;
  border-radius: 8px;
}

.post-card h2 {
  margin-top: 0;
}

footer p {
  text-align: center;
}
